.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #253f4b;
  color: white;
}

.gwlogo {
  width: 120px;
  height: 40px;
}

.userlogo {
  color: white;
}
