.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.gwlogo {
  width: 120px;
  height: 40px;
}

.userlogo {
  color: var(--text-color);
}
