:root {
  --primary-color: #67acc8;
  --primary-color-updated: #23395d;
  --secondary-color: #74c2bc;
  --text-color: #000000;
  --tertiary-color: #76c86b;
  --tab-color: #eff1f9;
  --button-color: #52a4db;
  --tab-button-color: #cfdef2;
  --hover-color: #dce4ef;
  --table-header-color: #f5f7fac6;
  --nav-color: #000000;
  --border-color: #e2e8f0;
  --white: #fffff; /* 📏 Spacing (margin / padding) */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-xxl: 24px;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --primary-color: #818cf8;
}
